@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Funnel+Display:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 219, 219);
  font-family: "Poppins", serif;
}

.card {
  border-radius: 10px;
  padding: 2rem 3rem;
  background-color: white;
  box-shadow: 0 0 15px rgb(180, 177, 177);
  line-height: 2.5;
  width: 50%;
}

table,
th,
td {
  table-layout: fixed;
  border: 1px solid rgb(167, 166, 166);
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(236, 236, 236)
  );
  text-align: center;
}

th,
td {
  padding: 15px;
  width: max-content;
}

caption {
  font-weight: 600;
  font-size: 23px;
}

header {
  text-align: center;
}

header h1 {
  font-weight: 500;
  font-size: 30px;
}

header p {
  font-size: 15px;
  color: gray;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

/* .input-field p {
  text-align: center;
  color: red;
} */

.alert {
  color: red;
  text-align: center;
}

.input-field input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(182, 180, 180);
  outline: none;
}

.input-field input:focus {
  border: 1px solid rgb(116, 116, 233);
}

.error {
  color: red;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(11, 11, 175);
  transition: all 0.6s ease;
}

@media screen and (max-width: 1400px) {
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 845px) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .card {
    padding: 2rem 10px;
  }

  th {
    font-size: 15px;
  }

  header h1 {
    font-size: 25px;
  }

  header p {
    font-size: 13px;
  }

  caption {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    padding: 2rem 10px;
  }

  th {
    font-size: 13px;
  }

  .alert {
    font-size: 15px;
  }

  .error {
    font-size: 10px;
  }
}

@media screen and (max-width: 570px) {
  .card {
    padding: 2rem 10px;
  }

  th {
    font-size: 10px;
  }

  td {
    font-size: 13px;
  }

  .alert {
    font-size: 15px;
  }

  .error {
    font-size: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .card {
    padding: 2rem 10px;
  }

  th {
    font-size: 10px;
  }

  td {
    font-size: 10px;
    padding: 1px;
  }

  header h1 {
    font-size: 20px;
  }

  header p {
    font-size: 10px;
  }

  .input-field label {
    font-size: 15px;
  }

  caption {
    font-size: 15px;
  }

  .first {
    height: 100px;
  }

  .alert {
    font-size: 15px;
  }

  .error {
    font-size: 10px;
  }
}
